@model IEnumerable<final_Portfolio.DAL.project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project1.projectname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.organization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project1.projectname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.projectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.projectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.projectID })
        </td>
    </tr>
}

</table>
